* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(21, 27, 65);
}

.mobile-menu{
    cursor: pointer;
}

p {
    font-family: lato, 'Helveyica, Arial, sans-serif';
}

.foto-perfil {
    height: 350px;
    max-width: auto;
    border-radius: 50%;
}

.icones {
    padding-left: 5px;
    height: 50px;
    width: 50px;
}

@media screen {
    
button[name="drop"]{
    border: none;
    cursor: pointer;
    background-color: #101a72;
    padding: 7px;
    font-size: 15px;
    color: whitesmoke;
    width: 200px
  }
  .menu-drop{
    display: inline-block;
    position: relative;
  }
  .drop-content{
    display: none;
    background-color: #0a218a;
    position: absolute;
    z-index: 999;
  }
  .drop-content a{
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  .drop-content a:hover{
    background-color: #031997;
  }
  .menu-drop:hover .drop-content{
    display: block;
  }
  .menu-drop:hover button[name="drop"]{
    background-color: #051781
  }
}
